<html>
  <head>
   <title>VMWebChecker</title>
   <meta charset=utf-8>
<!--   <link rel="stylesheet" href="http://localhost:4567/css/bootstrap.min.css" >
   <link rel="stylesheet" href="http://localhost:4567/css/bootstrap-theme.min.css" >-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <!--<ul class="nav nav-sidebar">
       	  <li><a href="/vm/create">checkList</a></li>
        </ul> -->
        </div> 
        <div class="col-sm-9 col-sm-offset-3">
        <h1 class="page-header">VM working manager</h1>
	      
				<h2>current host ip</h2>
			 <div><%=@current_ip %></div>
				<h3>ipaddress</h3>
				<div> 
					<ul class ="nav nav-tabs" role"tablist">
					 <% @iplists.each do |ipelem| %>
					 <li><a href="/vm/ipaddr/<%=ipelem%>"><%=ipelem%></a></li>  
					<!-- <li><a href="/vm/ipaddr/157.1.138.6">157.1.138.6</a></li>  
					 <li><a href="/vm/ipaddr/157.1.138.7">157.1.138.7</a></li>  -->
					 <% end %>
					</ul>
				</div>
				<h3>running vms</h3>
				<table class="table">
				  <thead>
				  	<tr>
				  		<th> domain name </th>
				  		<th> action </th>
				  	</tr>
				  </thead>
					<tbody>
          
				<% 
					@running_vm_list.each do |domain|
				 %>
				<td>
				<%= domain %>
				</td>
				<td>
				<a href="/vm/suspend/<%=domain%>" class="btn">suspend</a>
				</td>
				</tr>
        <% end %>
				</div>
				</table>

				<h3> check target list </h3>

				<table class="table">
				  <thead>
				  	<tr>
				  		<th> domain name </th>
				  		<th> last suspend time </th>
				  	</tr>
				  </thead>
					<tbody>
				<% 
					@hold_vm_list.each do |domain|
				 %>
				<td>
				<%= domain %>
				</td>
				<td>
				<a href="/vm/resume/<%=domain%>" class="btn">resume</a>
				</td>
				</tr>
        <% end %>
				</div>
					</tbody>
				</table> 
				<h4> error message </h4>
				  <p>	<% if @error_message != nil  %>
						<%= @error_message %>
          <% end %>
				  </p>

				<h4> VM checklist(register)</h4>
				<a href="/vm/regist" class="btn">register</a>
      </div>
    </div>
  </body>
</html>

