<html>
  <head>
   <title>VMWebChecker</title>
 <!--  <meta charset=utf-8>
   <link rel="stylesheet" href="css/bootstrap.min.css" >
   <link rel="stylesheet" href="css/bootstrap-theme.min.css" >-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
       <!-- <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
        </ul>-->
        </div> 
        <div class="col-sm-9 col-sm-offset-3">
        <h1 class="page-header">VM working manager</h1>
       <!-- <div id="header">
          <h4>VMWebChecker</h4>
        </div>-->
     <!--  <button type="button"> button</button>
        <table class"table">
           <tr class="active">
            <td> test</td>
          </tr>
          <tr>
            <td> test</td>
          </tr>
        </table>-->
				<h3>running vms</h3>
        <div class="table" id ="current">
          <tr>
          <% @list.each do |domain| %>
            <td>
            <%= domain %>
						<a href="/vm/suspend/<%=domain%>" class="btn">suspend</a>
            </td>
          <% end %>
          </tr>
        </div>

				<h3>idling vms</h3>
        <div class="table" id ="current">
          <tr>
          <% @idle_vm_list.each do |domain| %>
            <td>
            <%= domain %>
						<a href="/vm/suspend/<%=domain%>" class="btn">suspend</a>
            </td>
          <% end %>
          </tr>
        </div>

				<h3>hold vms</h3>
        <div class="table" id ="current">
          <tr>
          <% @hold_vm_list.each do |domain| %>
            <td>
            <%= domain %>
						<a href="/vm/resume/<%=domain%>" class="btn">resume</a>
						<a href="/vm/suspend/<%=domain%>" class="btn">suspend</a>
            </td>
          <% end %>
          </tr>
        </div>
				<h3> check target list </h3>
        <div class="test">
					<% if @error_message != nil  %>
						<%= @error_message %>
          <% end %>
          <% @compare_vmlist.each do |nworkingdomain| %>
            <%= nworkingdomain %>
						<a href="/vm/run/<%=nworkingdomain%>" class="btn">run</a>
          <% end %>

         </div>
      </div>
    </div>
  </body>
</html>

