<html>
  <head>
   <title>VMWebChecker</title>
   <meta charset=utf-8>
<!--   <link rel="stylesheet" href="http://localhost:4567/css/bootstrap.min.css" >
   <link rel="stylesheet" href="http://localhost:4567/css/bootstrap-theme.min.css" >-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
       	  <li><a href="/vm/create">checkList</a></li>
        </ul>
        </div> 
        <div class="col-sm-9 col-sm-offset-3">
        <h1 class="page-header">VM working manager</h1>
				<!--<div class="panel panel-default">-->

				<h2>hostname</h2>
				<div> 
					<ul class ="nav nav-tabs" role"tablist">
					 <li class="active"><a href="#">Home</a></li>  
					 <li><a href="/webapi/ipaddr/">157.1.138.6</a></li>  
					 <li><a href="/webapi/ipaddr/">157.1.138.7</a></li>  
					</ul>
				</div>
				<h3>running vms</h3>
				<table class="table">
				  <thead>
				  	<tr>
				  		<th> domain name </th>
				  		<th> action </th>
				  	</tr>
				  </thead>
					<tbody>
            <% @list.each do |domain| %>
              <tr>
                <td>
                  <%= domain %>
							   </td>
                <td>
				  		    <a href="/vm/suspend/<%=domain%>" class="btn">suspend</a>
                </td>
							</tr>
            <% end %>
						</tbody>
				</div>
				</table>
				<h3>suspended vms</h3>

				<table class="table">
				  <thead>
				  	<tr>
				  		<th> domain name </th>
				  		<th> action </th>
				  	</tr>
				  </thead>

					<tbody>
              <% @hold_vm_list.each do |domain| %>
            	<tr>
                <td>
                  <%= domain %>
                </td>
								<td>
					    	<a href="/vm/resume/<%=domain%>" class="btn">resume</a>
					    <!--	<a href="/vm/suspend/<%=domain%>" class="btn">suspend</a>-->
                </td>
            </tr>
              <% end %>
					</tbody>
				</div>
				</table>
				<h3> check target list </h3>

				<table class="table">
				  <thead>
				  	<tr>
				  		<th> domain name </th>
				  		<th> last suspend time </th>
				  	</tr>
				  </thead>

					<tbody>
          <% @compare_vmlist.each do |not_working| %>
					 <tr>
					  <td>
              <%= not_working %>
					  </td>
					  <td>
						  <a href="/vm/resume/<%=not_working%>" class="btn">run</a>
						</td>
					 </tr>
          <% end %>
					</tbody>
				</table>
				<h4> error message </h4>
				  <p>	<% if @error_message != nil  %>
						<%= @error_message %>
          <% end %>
				  </p>
      </div>
    </div>
  </body>
</html>

